SyntaxError: invalid syntax (3819790662.py, line 1)

In [3]:
from mootdx.reader import Reader

# market: 参数 `std` 为标准市场(就是股票), `ext` 为扩展市场(期货，黄金等)
# tdxdir: 是通达信的数据目录, 根据自己的情况修改

reader = Reader.factory(market='std', tdxdir='E:/new_tdx')

# 读取日线数据
reader.daily(symbol='600036')

# 读取分钟数据
reader.minute(symbol='600036')

# 读取时间线数据
reader.fzline(symbol='600036')

In [5]:
reader.daily(symbol='600519')

Empty DataFrame
Columns: []
Index: []

In [7]:
reader.fzline(symbol='600036')

In [8]:
from mootdx.quotes import Quotes

# 标准市场
client = Quotes.factory(market='std', multithread=True, heartbeat=True, bestip=True, timeout=15)

# k 线数据
client.bars(symbol='600036', frequency=9, offset=10)

# 指数
client.index(symbol='000001', frequency=9)

# 分钟
client.minute(symbol='000001')

2024-03-01 09:51:53,604 - mootdx - INFO - [-] 选择最快的服务器...

    price    vol  volume
0   10.56  86975   86975
1   10.55  12854   12854
2   10.57  19218   19218
3   10.55  17230   17230
4   10.54  17797   17797
5   10.55  18179   18179
6   10.55   8999    8999
7   10.56  16896   16896
8   10.56   9627    9627
9   10.55  16607   16607
10  10.55  12631   12631
11  10.52  29992   29992
12  10.52  16851   16851
13  10.49  23435   23435
14  10.53  11921   11921
15  10.53  14955   14955
16  10.53   8812    8812
17  10.52  11499   11499
18  10.51   7246    7246
19  10.51  17130   17130
20  10.50  23326   23326
21  10.49  15743   15743
22  10.49  15124   15124

In [9]:
# 标准市场
client = Quotes.factory(market='std', multithread=True, heartbeat=True, bestip=True, timeout=15)

2024-03-01 10:07:53,313 - mootdx - INFO - [-] 选择最快的服务器...

In [12]:
client.bars(symbol='600036', frequency=9, offset=10)

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,volume
datetime,,,,,,,,,,,,,
2024-02-19 15:00:00,31.99,31.62,31.99,31.41,875490.0,2.770407e+09,2024,2,19,15,0,2024-02-19 15:00,875490.0
2024-02-20 15:00:00,31.62,31.40,31.62,31.29,606404.0,1.907542e+09,2024,2,20,15,0,2024-02-20 15:00,606404.0
2024-02-21 15:00:00,31.40,33.00,33.39,31.35,1528656.0,5.003152e+09,2024,2,21,15,0,2024-02-21 15:00,1528656.0
2024-02-22 15:00:00,32.81,32.80,32.95,32.39,752760.0,2.461009e+09,2024,2,22,15,0,2024-02-22 15:00,752760.0
2024-02-23 15:00:00,32.81,32.95,33.40,32.62,639848.0,2.118316e+09,2024,2,23,15,0,2024-02-23 15:00,639848.0
2024-02-26 15:00:00,32.86,32.25,33.06,32.08,666390.0,2.163023e+09,2024,2,26,15,0,2024-02-26 15:00,666390.0
2024-02-27 15:00:00,32.24,32.18,32.40,31.99,543491.0,1.746109e+09,2024,2,27,15,0,2024-02-27 15:00,543491.0
2024-02-28 15:00:00,32.29,32.02,32.29,31.60,683707.0,2.186678e+09,2024,2,28,15,0,2024-02-28 15:00,683707.0
2024-02-29 15:00:00,31.89,32.04,32.20,31.85,498928.0,1.595634e+09,2024,2,29,15,0,2024-02-29 15:00,498928.0
2024-03-01 15:00:00,31.92,31.93,32.08,31.75,415628.0,1.324978e+09,2024,3,1,15,0,2024-03-01 15:00,415628.0

In [13]:
client.bars(symbol='600036', adjust='qfq')

~~~

C:\Users\lunyaqi\AppData\Local\Programs\Python\Python311\Lib\site-packages\mootdx\tools\reversion.py:18: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.factor = data.factor.fillna(method=('ffill', 'bfill')[method == 'qfq'], axis=0)

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,volume,factor
2020-11-13 15:00:00,47.571162,46.888427,47.571162,46.040515,544862.0,2.309703e+09,2020.0,11.0,13.0,15.0,0.0,2020-11-13 15:00,544862.0,1.101184
2020-11-16 15:00:00,47.295865,47.350925,47.461043,46.965510,389432.0,1.669942e+09,2020.0,11.0,16.0,15.0,0.0,2020-11-16 15:00,389432.0,1.101184
2020-11-17 15:00:00,47.350925,48.275919,48.452109,47.130688,472856.0,2.065231e+09,2020.0,11.0,17.0,15.0,0.0,2020-11-17 15:00,472856.0,1.101184
2020-11-18 15:00:00,48.011635,49.277997,49.553293,47.802410,628202.0,2.797753e+09,2020.0,11.0,18.0,15.0,0.0,2020-11-18 15:00,628202.0,1.101184
2020-11-19 15:00:00,49.035737,49.410139,49.553293,48.441097,477341.0,2.128954e+09,2020.0,11.0,19.0,15.0,0.0,2020-11-19 15:00,477341.0,1.101184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 15:00:00,32.860000,32.250000,33.060000,32.080000,666390.0,2.163023e+09,2024.0,2.0,26.0,15.0,0.0,2024-02-26 15:00,666390.0,1.000000
2024-02-27 15:00:00,32.240000,32.180000,32.400000,31.990000,543491.0,1.746109e+09,2024.0,2.0,27.0,15.0,0.0,2024-02-27 15:00,543491.0,1.000000
2024-02-28 15:00:00,32.290000,32.020000,32.290000,31.600000,683707.0,2.186678e+09,2024.0,2.0,28.0,15.0,0.0,2024-02-28 15:00,683707.0,1.000000
2024-02-29 15:00:00,31.890000,32.040000,32.200000,31.850000,498928.0,1.595634e+09,2024.0,2.0,29.0,15.0,0.0,2024-02-29 15:00,498928.0,1.000000
2024-03-01 15:00:00,31.920000,31.950000,32.080000,31.750000,417489.0,1.330922e+09,2024.0,3.0,1.0,15.0,0.0,2024-03-01 15:00,417489.0,1.000000

In [14]:
client.bars(symbol='600036', adjust='hfq')

C:\Users\lunyaqi\AppData\Local\Programs\Python\Python311\Lib\site-packages\mootdx\tools\reversion.py:18: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.factor = data.factor.fillna(method=('ffill', 'bfill')[method == 'qfq'], axis=0)

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,volume,factor
2020-11-13 15:00:00,43.20,42.58,43.20,41.81,544862.0,2.309703e+09,2020.0,11.0,13.0,15.0,0.0,2020-11-13 15:00,544862.0,1.0
2020-11-16 15:00:00,42.95,43.00,43.10,42.65,389432.0,1.669942e+09,2020.0,11.0,16.0,15.0,0.0,2020-11-16 15:00,389432.0,1.0
2020-11-17 15:00:00,43.00,43.84,44.00,42.80,472856.0,2.065231e+09,2020.0,11.0,17.0,15.0,0.0,2020-11-17 15:00,472856.0,1.0
2020-11-18 15:00:00,43.60,44.75,45.00,43.41,628202.0,2.797753e+09,2020.0,11.0,18.0,15.0,0.0,2020-11-18 15:00,628202.0,1.0
2020-11-19 15:00:00,44.53,44.87,45.00,43.99,477341.0,2.128954e+09,2020.0,11.0,19.0,15.0,0.0,2020-11-19 15:00,477341.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 15:00:00,32.86,32.25,33.06,32.08,666390.0,2.163023e+09,2024.0,2.0,26.0,15.0,0.0,2024-02-26 15:00,666390.0,1.0
2024-02-27 15:00:00,32.24,32.18,32.40,31.99,543491.0,1.746109e+09,2024.0,2.0,27.0,15.0,0.0,2024-02-27 15:00,543491.0,1.0
2024-02-28 15:00:00,32.29,32.02,32.29,31.60,683707.0,2.186678e+09,2024.0,2.0,28.0,15.0,0.0,2024-02-28 15:00,683707.0,1.0
2024-02-29 15:00:00,31.89,32.04,32.20,31.85,498928.0,1.595634e+09,2024.0,2.0,29.0,15.0,0.0,2024-02-29 15:00,498928.0,1.0
2024-03-01 15:00:00,31.92,31.93,32.08,31.75,420011.0,1.338976e+09,2024.0,3.0,1.0,15.0,0.0,2024-03-01 15:00,420011.0,1.0

In [16]:
from mootdx import consts

client.stock_count(market=consts.MARKET_SH)

23080

In [17]:
client.stock_count(market=consts.MARKET_SZ)

18114

In [18]:
symbol = client.stocks(market=consts.MARKET_SH)

100%|##########| 24/24 [00:01<00:00, 20.01it/s]

In [19]:
symbol

         code  volunit  decimal_point    name     pre_close
0      999999      100              2    上证指数  3.015171e+03
1      999998      100              2    Ａ股指数  3.160784e+03
2      999997      100              2    Ｂ股指数  2.613498e+02
3      000001      100              2    上证指数  3.015171e+03
4      000002      100              2    Ａ股指数  3.160784e+03
...       ...      ...            ...     ...           ...
23075  562890      100              3  A50中证   5.877472e-39
23076  563080      100              3  中证A50E  5.877472e-39
23077  563280      100              3  A50增强   5.877472e-39
23078  563350      100              3  中证A50   5.877472e-39
23079  588450      100              3   科创50增  5.877472e-39

[23080 rows x 5 columns]

In [31]:
client.index(frequency=8, market=consts.MARKET_SH, symbol='000001', start=1, offset=2)

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,up_count,down_count,volume
datetime,,,,,,,,,,,,,,,
2024-03-01 14:58:00,3026.223,3026.385,3026.385,3026.223,7.113980e+05,7.113986e+07,2024,3,1,14,58,2024-03-01 14:58,1382,828,7.113980e+05
2024-03-01 14:59:00,3026.385,3026.385,3026.385,3026.385,5.877472e-39,5.877472e-39,2024,3,1,14,59,2024-03-01 14:59,1382,828,5.877472e-39

In [22]:
client.minute(symbol='000001')

     price    vol  volume
0    10.56  86975   86975
1    10.55  12854   12854
2    10.57  19218   19218
3    10.55  17230   17230
4    10.54  17797   17797
..     ...    ...     ...
235  10.49  14777   14777
236  10.49  11854   11854
237  10.49    155     155
238  10.49      0       0
239  10.49  23805   23805

[240 rows x 3 columns]

In [46]:
client.minutes(symbol='000001', date='20230301')

     price    vol  volume
0    13.81  26829   26829
1    13.79   5661    5661
2    13.77   5185    5185
3    13.78   8662    8662
4    13.78   7335    7335
..     ...    ...     ...
235  14.17   6144    6144
236  14.17   7728    7728
237  14.17     49      49
238  14.17      0       0
239  14.17  12274   12274

[240 rows x 3 columns]

In [26]:
client.minutes(symbol='000001', date='20171010')

Empty DataFrame
Columns: []
Index: []

In [50]:
client.transactions(symbol='600519', start=0, offset=5000, date='20240229')

       time    price   vol  buyorsell  volume
0     11:22  1691.00    23          1      23
1     11:22  1691.87     3          0       3
2     11:22  1691.86     2          0       2
3     11:22  1691.86     2          0       2
4     11:22  1691.86     1          0       1
...     ...      ...   ...        ...     ...
1995  14:56  1695.49    14          0      14
1996  14:56  1695.59     2          0       2
1997  14:56  1695.51     3          0       3
1998  14:57  1695.33     5          1       5
1999  15:00  1695.00  1488          2    1488

[2000 rows x 5 columns]

In [35]:
client = Quotes.factory(market='std')
client.k(symbol="600300", begin="2010-07-03", end="2024-07-10")

,open,close,high,low,vol,amount,date,code,volume
date,,,,,,,,,
2010-07-05,5.87,6.02,6.12,5.85,235857.0,142349680.0,2010-07-05,600300,235857.0
2010-07-06,6.02,6.08,6.12,5.96,182492.0,110355488.0,2010-07-06,600300,182492.0
2010-07-07,6.08,6.04,6.08,5.93,131448.0,78940216.0,2010-07-07,600300,131448.0
2010-07-08,6.06,5.93,6.07,5.85,127236.0,75494672.0,2010-07-08,600300,127236.0
2010-07-09,5.98,6.33,6.50,5.88,408972.0,254259616.0,2010-07-09,600300,408972.0
...,...,...,...,...,...,...,...,...,...
2024-02-26,2.73,2.76,2.81,2.73,215301.0,59572160.0,2024-02-26,600300,215301.0
2024-02-27,2.77,2.82,2.82,2.76,175189.0,48927232.0,2024-02-27,600300,175189.0
2024-02-28,2.83,2.73,2.99,2.73,447208.0,128282696.0,2024-02-28,600300,447208.0
2024-02-29,2.72,2.80,2.80,2.61,305363.0,83782536.0,2024-02-29,600300,305363.0
2024-03-01,2.79,2.77,2.81,2.73,212923.0,58883940.0,2024-03-01,600300,212923.0

In [51]:
client.k(symbol="600300", begin="2017-07-03", end="2017-07-10", adjust='hfq')

~~~

C:\Users\lunyaqi\AppData\Local\Programs\Python\Python311\Lib\site-packages\mootdx\tools\reversion.py:18: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.factor = data.factor.fillna(method=('ffill', 'bfill')[method == 'qfq'], axis=0)
C:\Users\lunyaqi\AppData\Local\Programs\Python\Python311\Lib\site-packages\mootdx\tools\reversion.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.factor = data.factor.fillna(method=('ffill', 'bfill')[method == 'qfq'], axis=0)

,open,close,high,low,vol,amount,date,code,volume,factor
date,,,,,,,,,,
2017-07-03,5.34,5.40,5.41,5.29,111733.0,59721688.0,2017-07-03,600300,111733.0,1.0
2017-07-04,5.38,5.34,5.39,5.31,82637.0,44179364.0,2017-07-04,600300,82637.0,1.0
2017-07-05,5.35,5.35,5.36,5.30,109389.0,58219360.0,2017-07-05,600300,109389.0,1.0
2017-07-06,5.35,5.34,5.36,5.29,111139.0,59126872.0,2017-07-06,600300,111139.0,1.0
2017-07-07,5.33,5.53,5.57,5.29,390578.0,213569888.0,2017-07-07,600300,390578.0,1.0

## 测试akshare

In [53]:
from mootdx.reader import Reader

reader = Reader.factory(market='std', tdxdir='E:/new_tdx')

# 读取日线数据
reader.daily(symbol='600036')

             open   high    low  close        amount      volume
date
2015-01-05  16.56  17.07  16.25  16.68  8.302085e+09  5001871.28
2015-01-06  16.40  17.20  16.29  16.42  7.100975e+09  4268772.34
2015-01-07  16.20  16.56  15.94  16.16  4.806397e+09  2961696.04
2015-01-08  16.25  16.34  15.53  15.57  4.621825e+09  2929211.10
2015-01-09  15.56  16.56  15.36  15.71  7.356772e+09  4613634.97
...           ...    ...    ...    ...           ...         ...
2024-02-26  32.86  33.06  32.08  32.25  2.163023e+09   666390.18
2024-02-27  32.24  32.40  31.99  32.18  1.746109e+09   543491.54
2024-02-28  32.29  32.29  31.60  32.02  2.186678e+09   683707.52
2024-02-29  31.89  32.20  31.85  32.04  1.595634e+09   498928.29
2024-03-01  31.92  32.08  31.75  31.94  1.361854e+09   427173.92

[2222 rows x 6 columns]

In [58]:
client.bars(symbol='600036', frequency=8, offset=100000)

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,volume
datetime,,,,,,,,,,,,,
2024-02-27 13:41:00,32.00,32.01,32.01,32.00,2.064000e+05,6.605655e+06,2024,2,27,13,41,2024-02-27 13:41,2.064000e+05
2024-02-27 13:42:00,32.01,32.01,32.01,32.00,5.446000e+05,1.742800e+07,2024,2,27,13,42,2024-02-27 13:42,5.446000e+05
2024-02-27 13:43:00,32.00,32.00,32.01,31.99,3.808000e+05,1.218492e+07,2024,2,27,13,43,2024-02-27 13:43,3.808000e+05
2024-02-27 13:44:00,32.00,31.99,32.01,31.99,2.125000e+05,6.799870e+06,2024,2,27,13,44,2024-02-27 13:44,2.125000e+05
2024-02-27 13:45:00,31.99,32.00,32.00,31.99,1.700000e+05,5.438770e+06,2024,2,27,13,45,2024-02-27 13:45,1.700000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-01 14:56:00,31.95,31.94,31.95,31.93,2.810000e+05,8.974463e+06,2024,3,1,14,56,2024-03-01 14:56,2.810000e+05
2024-03-01 14:57:00,31.94,31.95,31.95,31.93,2.637000e+05,8.423708e+06,2024,3,1,14,57,2024-03-01 14:57,2.637000e+05
2024-03-01 14:58:00,31.94,31.94,31.94,31.94,1.000000e+03,3.194000e+04,2024,3,1,14,58,2024-03-01 14:58,1.000000e+03
2024-03-01 14:59:00,31.94,31.94,31.94,31.94,5.877472e-39,5.877472e-39,2024,3,1,14,59,2024-03-01 14:59,5.877472e-39
2024-03-01 15:00:00,31.94,31.94,31.94,31.94,4.833000e+05,1.543772e+07,2024,3,1,15,0,2024-03-01 15:00,4.833000e+05

In [1]:
import numpy as np
a = np.repeat(np.arange(5).reshape([1,-1]),10,axis = 0)+10.0
b = np.random.randint(5, size= a.shape)
c = np.argmin(a*b, axis=1)
b = np.zeros(a.shape)
b[np.arange(b.shape[0]), c] = 1

In [2]:
a

array([[10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.],
       [10., 11., 12., 13., 14.]])

In [3]:
b

array([[0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.]])

In [4]:
c

array([4, 1, 0, 1, 0, 4, 2, 1, 4, 1], dtype=int64)

In [7]:
import torch

if torch.cuda.is_available():
    print("GPU is available!")
else:
    print("GPU is not available.")

GPU is not available.

In [8]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [9]:
device

device(type='cpu')

In [4]:
from xtquant import xtdata

xtdata.download_history_data2(stock_list=['600519.SH'], period='1d')
res = xtdata.get_market_data(stock_list=['600519.SH'], period='1d')
print(res)

***** xtdata连接成功 *****
服务信息: None
服务地址: None
数据路径: None
设置xtdata.enable_hello = False可隐藏此消息
{'time':                20010827      20010828      20010829      20010830  \
600519.SH  998841600000  998928000000  999014400000  999100800000

               20010831      20010903      20010904      20010905  \
600519.SH  999187200000  999446400000  999532800000  999619200000

               20010906      20010907  ...       20240227       20240228  \
600519.SH  999705600000  999792000000  ...  1708963200000  1709049600000

                20240229       20240301       20240304       20240305  \
600519.SH  1709136000000  1709222400000  1709481600000  1709568000000

                20240306       20240307       20240308       20240311
600519.SH  1709654400000  1709740800000  1709827200000  1710086400000

[1 rows x 5467 columns], 'open':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH     34.51     34.99     36.98     36.28     37.15      37.2

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH     37.01     37.61     37.35      36.5  ...    1683.0   1688.92

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH   1681.55    1690.0    1679.0   1670.81    1691.0    1680.0

           20240308  20240311
600519.SH   1680.56    1675.0

[1 rows x 5467 columns], 'high':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH     37.78      37.0      37.0     37.51     37.62     37.57

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH     38.08     37.92     37.47     36.95  ...   1692.92   1696.57

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH    1696.5   1694.97   1680.99    1697.0    1695.0    1689.8

           20240308  20240311
600519.SH   1686.68   1698.88

[1 rows x 5467 columns], 'low':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH     32.85     34.61      36.1      36.0      36.8     36.85

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH     36.88     37.21     36.51     35.65  ...    1678.0   1674.01

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH    1679.2   1676.68   1670.05   1666.68   1678.02    1678.0

           20240308  20240311
600519.SH   1670.05   1673.18

[1 rows x 5467 columns], 'close':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH     35.55     36.86     36.38      37.1     37.01     36.99

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH     37.46     37.44      36.7     35.68  ...    1689.5   1681.55

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH    1695.0   1685.06    1676.3    1695.1   1680.55   1683.63

           20240308  20240311
600519.SH   1671.43   1694.49

[1 rows x 5467 columns], 'volume':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH    406318    129647     53252     48013     23231     22112

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH     37006     26066     28997     31552  ...     22080     31867

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH     24758     26868     26485     36238     22142     21599

           20240308  20240311
600519.SH     22156     29895

[1 rows x 5467 columns], 'amount':                20010827     20010828     20010829     20010830    20010831  \
600519.SH  1.410347e+09  463463143.0  194689619.0  177558558.0  86231237.0

             20010903     20010904    20010905     20010906     20010907  ...  \
600519.SH  82129438.0  139204380.0  97796243.0  107078403.0  113868742.0  ...

               20240227      20240228      20240229      20240301  \
600519.SH  3.718478e+09  5.371313e+09  4.184918e+09  4.526845e+09

               20240304      20240305      20240306      20240307  \
600519.SH  4.434401e+09  6.102137e+09  3.725583e+09  3.633935e+09

               20240308      20240311
600519.SH  3.710679e+09  5.048394e+09

[1 rows x 5467 columns], 'settelementPrice':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH       0.0       0.0       0.0       0.0       0.0       0.0

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH       0.0       0.0       0.0       0.0  ...       0.0       0.0

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH       0.0       0.0       0.0       0.0       0.0       0.0

           20240308  20240311
600519.SH       0.0       0.0

[1 rows x 5467 columns], 'openInterest':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH         0         0         0         0         0         0

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH         0         0         0         0  ...        15        15

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH        15        15        15        15        15        15

           20240308  20240311
600519.SH        15        15

[1 rows x 5467 columns], 'preClose':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH     31.39     35.55     36.86     36.38      37.1     37.01

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH     36.99     37.46     37.44      36.7  ...   1694.98    1689.5

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH   1681.55    1695.0   1685.06    1676.3    1695.1   1680.55

           20240308  20240311
600519.SH   1683.63   1671.43

[1 rows x 5467 columns], 'suspendFlag':            20010827  20010828  20010829  20010830  20010831  20010903  \
600519.SH         0         0         0         0         0         0

           20010904  20010905  20010906  20010907  ...  20240227  20240228  \
600519.SH         0         0         0         0  ...         0         0

           20240229  20240301  20240304  20240305  20240306  20240307  \
600519.SH         0         0         0         0         0         0

           20240308  20240311
600519.SH         0         0

[1 rows x 5467 columns]}

In [2]:
from xtquant import xtdata

In [10]:
xtdata.subscribe_quote(['600519.SH'], period='1d', start_time='', end_time='', count=0, callback=on_data)

RuntimeError: invalid stock_code, meta:-2, market:

In [5]:
def on_data(datas):
    for stock_code in datas:
        	print(stock_code, datas[stock_code])

In [12]:
xtdata.subscribe_whole_quote(code_list=['SH', 'SZ'], callback=on_data)

2

In [13]:
xtdata.run()

KeyboardInterrupt:

In [15]:
xtdata.get_market_data(field_list=[], stock_list=['600519.SH'], period='1d', start_time='', end_time='', count=-1, dividend_type='none', fill_data=True)

{'time':                20010827      20010828      20010829      20010830  \
 600519.SH  998841600000  998928000000  999014400000  999100800000

                20010831      20010903      20010904      20010905  \
 600519.SH  999187200000  999446400000  999532800000  999619200000

                20010906      20010907  ...       20240227       20240228  \
 600519.SH  999705600000  999792000000  ...  1708963200000  1709049600000

                 20240229       20240301       20240304       20240305  \
 600519.SH  1709136000000  1709222400000  1709481600000  1709568000000

                 20240306       20240307       20240308       20240311
 600519.SH  1709654400000  1709740800000  1709827200000  1710086400000

 [1 rows x 5467 columns],
 'open':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH     34.51     34.99     36.98     36.28     37.15      37.2

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH     37.01     37.61     37.35      36.5  ...    1683.0   1688.92

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH   1681.55    1690.0    1679.0   1670.81    1691.0    1680.0

            20240308  20240311
 600519.SH   1680.56    1675.0

 [1 rows x 5467 columns],
 'high':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH     37.78      37.0      37.0     37.51     37.62     37.57

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH     38.08     37.92     37.47     36.95  ...   1692.92   1696.57

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH    1696.5   1694.97   1680.99    1697.0    1695.0    1689.8

            20240308  20240311
 600519.SH   1686.68   1698.88

 [1 rows x 5467 columns],
 'low':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH     32.85     34.61      36.1      36.0      36.8     36.85

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH     36.88     37.21     36.51     35.65  ...    1678.0   1674.01

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH    1679.2   1676.68   1670.05   1666.68   1678.02    1678.0

            20240308  20240311
 600519.SH   1670.05   1673.18

 [1 rows x 5467 columns],
 'close':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH     35.55     36.86     36.38      37.1     37.01     36.99

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH     37.46     37.44      36.7     35.68  ...    1689.5   1681.55

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH    1695.0   1685.06    1676.3    1695.1   1680.55   1683.63

            20240308  20240311
 600519.SH   1671.43   1694.49

 [1 rows x 5467 columns],
 'volume':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH    406318    129647     53252     48013     23231     22112

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH     37006     26066     28997     31552  ...     22080     31867

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH     24758     26868     26485     36238     22142     21599

            20240308  20240311
 600519.SH     22156     29895

 [1 rows x 5467 columns],
 'amount':                20010827     20010828     20010829     20010830    20010831  \
 600519.SH  1.410347e+09  463463143.0  194689619.0  177558558.0  86231237.0

              20010903     20010904    20010905     20010906     20010907  ...  \
 600519.SH  82129438.0  139204380.0  97796243.0  107078403.0  113868742.0  ...

                20240227      20240228      20240229      20240301  \
 600519.SH  3.718478e+09  5.371313e+09  4.184918e+09  4.526845e+09

                20240304      20240305      20240306      20240307  \
 600519.SH  4.434401e+09  6.102137e+09  3.725583e+09  3.633935e+09

                20240308      20240311
 600519.SH  3.710679e+09  5.048394e+09

 [1 rows x 5467 columns],
 'settelementPrice':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH       0.0       0.0       0.0       0.0       0.0       0.0

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH       0.0       0.0       0.0       0.0  ...       0.0       0.0

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH       0.0       0.0       0.0       0.0       0.0       0.0

            20240308  20240311
 600519.SH       0.0       0.0

 [1 rows x 5467 columns],
 'openInterest':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH         0         0         0         0         0         0

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH         0         0         0         0  ...        15        15

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH        15        15        15        15        15        15

            20240308  20240311
 600519.SH        15        15

 [1 rows x 5467 columns],
 'preClose':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH     31.39     35.55     36.86     36.38      37.1     37.01

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH     36.99     37.46     37.44      36.7  ...   1694.98    1689.5

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH   1681.55    1695.0   1685.06    1676.3    1695.1   1680.55

            20240308  20240311
 600519.SH   1683.63   1671.43

 [1 rows x 5467 columns],
 'suspendFlag':            20010827  20010828  20010829  20010830  20010831  20010903  \
 600519.SH         0         0         0         0         0         0

            20010904  20010905  20010906  20010907  ...  20240227  20240228  \
 600519.SH         0         0         0         0  ...         0         0

            20240229  20240301  20240304  20240305  20240306  20240307  \
 600519.SH         0         0         0         0         0         0

            20240308  20240311
 600519.SH         0         0

 [1 rows x 5467 columns]}

In [ ]:
xtdata.get_local_data(field_list=[], stock_list=[], period='1d', start_time='', end_time='', count=-1,
               dividend_type='none', fill_data=True, data_dir=data_dir)

In [25]:
xtdata.get_full_tick(['SH', 'SZ'])

Exception: 无法连接xtquant服务，请检查QMT-投研版或QMT-极简版是否开启

In [19]:
xtdata.get_l2_quote(field_list=[], stock_code='600519.SH', start_time='', end_time='', count=-1)

array([],
      dtype=[('time', '<i8'), ('lastPrice', '<f8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('amount', '<f8'), ('volume', '<i8'), ('pvolume', '<i8'), ('openInt', '<i4'), ('stockStatus', '<i4'), ('transactionNum', '<i4'), ('lastClose', '<f8'), ('lastSettlementPrice', '<f8'), ('settlementPrice', '<f8'), ('pe', '<f8'), ('askPrice', 'O'), ('bidPrice', 'O'), ('askVol', 'O'), ('bidVol', 'O')])

In [21]:
def on_progress(data):
	print(data)
	# {'finished': 1, 'total': 50, 'stockcode': '000001.SZ', 'message': ''}

In [28]:
xtdata.download_history_data2(['SH','SZ'], '1d', start_time='2024-03-15', end_time='2024-03-15', callback=on_progress)

Traceback (most recent call last):
  File "C:\Users\lunyaqi\AppData\Local\Programs\Python\Python311\Lib\site-packages\xtquant\xtdata.py", line 1409, in download_history_data2
    time.sleep(0.1)
KeyboardInterrupt

In [31]:
xtdata.get_local_data(field_list=[], stock_list=['SH','SZ'], period='1d', start_time='', end_time='', count=-1,dividend_type='none', fill_data=True, data_dir=xtdata.data_dir)

RuntimeError: invalid stockCode: SH

In [36]:
xtdata.get_instrument_detail('600519.SH')

{'ExchangeID': 'SH',
 'InstrumentID': '600519',
 'InstrumentName': '贵州茅台',
 'ProductID': '',
 'ProductName': '',
 'ExchangeCode': None,
 'UniCode': None,
 'CreateDate': '0',
 'OpenDate': '20010827',
 'ExpireDate': 99999999,
 'PreClose': 1716.63,
 'SettlementPrice': 1716.63,
 'UpStopPrice': 1888.29,
 'DownStopPrice': 1544.97,
 'FloatVolume': 1256197800.0,
 'TotalVolume': 1256197800.0,
 'LongMarginRatio': 1.7976931348623157e+308,
 'ShortMarginRatio': 1.7976931348623157e+308,
 'PriceTick': 0.01,
 'VolumeMultiple': 1,
 'MainContract': 2147483647,
 'LastVolume': 2147483647,
 'InstrumentStatus': 0,
 'IsTrading': False,
 'IsRecent': False,
 'ProductTradeQuota': None,
 'ContractTradeQuota': None,
 'ProductOpenInterestQuota': None,
 'ContractOpenInterestQuota': None}

In [37]:
xtdata.get_sector_list()

['上期所',
 '上证A股',
 '上证B股',
 '上证期权',
 '上证转债',
 '中金所',
 '创业板',
 '大商所',
 '板块加权指数',
 '板块指数',
 '概念指数',
 '沪市ETF',
 '沪市债券',
 '沪市基金',
 '沪市指数',
 '沪深A股',
 '沪深B股',
 '沪深ETF',
 '沪深债券',
 '沪深基金',
 '沪深指数',
 '沪深转债',
 '沪港通',
 '深市ETF',
 '深市债券',
 '深市基金',
 '深市指数',
 '深港通',
 '深证A股',
 '深证B股',
 '深证期权',
 '深证转债',
 '科创板',
 '科创板CDR',
 '证监会行业板块指数',
 '迅投一级行业板块加权指数',
 '迅投一级行业板块指数',
 '迅投三级行业板块加权指数',
 '迅投三级行业板块指数',
 '迅投二级行业板块加权指数',
 '迅投二级行业板块指数',
 '连续合约',
 '郑商所',
 '香港联交所指数',
 '香港联交所股票']

In [39]:
biga_list = xtdata.get_stock_list_in_sector('沪深A股')

In [40]:
len(biga_list)

5112

In [3]:
def on_progress(data):
    print(data)

xtdata.download_history_data2(stock_list=['600309.SH', '600989.SH', '002714.SZ'], period='tick', start_time='20231111', end_time='20231115', callback=on_progress)

***** xtdata连接成功 *****
服务信息: None
服务地址: None
数据路径: None
设置xtdata.enable_hello = False可隐藏此消息

{'finished': 1, 'total': 9, 'stockcode': '', 'message': '600309.SH'}

In [1]:
# 定义村庄人数
number = 100

# 定义初始易感者、传染者、痊愈者人数
susceptible, infective, recover = 99, 1, 0

# 定义接触概率、传播概率、痊愈概率
Pcontact, Pspread, Precover = 0.3, 0.5, 0.1

# 一百天进程
for day in range(1, 101):
    # 当天新感染的易感者期望
    susceptible_infective = Pcontact * Pspread * (infective / number) * susceptible

    # 当天新感染的痊愈者期望
    recover_infective = Pcontact * Pspread * (infective / number) * recover

    # 当天痊愈的感染者期望
    new_recover = Precover * infective

    # 用上述三个数据计算当天末的易感者、感染者、痊愈者期望
    susceptible = susceptible - susceptible_infective
    infective = infective + susceptible_infective + recover_infective - new_recover
    recover = recover - recover_infective + new_recover

# 输出一百天后村庄感染人数估计
print(f'100天后该村庄感染人数为{int(infective + 0.5)}人')

100天后该村庄感染人数为27人

In [2]:
import random
import time

# 生成随机数组
array = [random.randint(1, 1000) for i in range(1000)]

# 复制两个数组对应两个排序算法
array_bubble = array
array_selection = array

# 计算冒泡排序的执行时间
start_time = time.time()
n = len(array_bubble)
for i in range(n):
    for j in range(n - i - 1):
        if array_bubble[j] > array_bubble[j + 1]:
            array_bubble[j], array_bubble[j + 1] = array_bubble[j + 1], array_bubble[j]
end_time = time.time()
bubble_sort_time = end_time - start_time

# 计算选择排序的执行时间
start_time = time.time()
n = len(array_selection)
for i in range(n):
    min_index = i
    for j in range(i + 1, n):
        if array_selection[j] < array_selection[min_index]:
            min_index = j
    array_selection[i], array_selection[min_index] = array_selection[min_index], array_selection[i]
end_time = time.time()
selection_sort_time = end_time - start_time

# 输出两算法的执行时间，冒泡排序通常需要选择排序接近两倍的时长
print(f'冒泡排序执行时间：{bubble_sort_time}', )
print(f'选择排序执行时间：{selection_sort_time}')

冒泡排序执行时间：0.03999924659729004
选择排序执行时间：0.022001266479492188